.expenses-filter {
    width: 50%;
    color: white;
    padding: 5px;
    float: right;
    text-align: right;
}


.expenses-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.expenses-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
}